:root {
  --primary-color: #0f1729;
  --secondairy-color: #ffb7c7;
  --font-primary-color: #f0f5f9;
  --font-secondairy-color: #ffc0cc;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-color);
  color: var(--font-secondairy-color);
}

h1,
h2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,
h3 {
  color: var(--font-primary-color);
}

h1 {
  font-size: 65px;
}

p {
  color: var(--font-primary-color);
}

.table-container {
  text-align: center;
}

.table-container h2 {
  font-size: 50px;
}

.table-container h3 {
  font-size: 25px;
}

.portrait {
  mask-image: url(/images/blossom\ logo\ blossom\ only.png);
  -webkit-mask-image: url(/images/blossom\ logo\ blossom\ only.png);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: right;
  -webkit-mask-position: right;

  transform: scale(4);
}

.name {
  color: var(--font-secondairy-color);
}

.logo {
  width: 100px;
}

.navigation-links {
  padding: 20px 30px;
  background: linear-gradient(135deg, var(--secondairy-color) 0%, #ff62b8 100%);
  color: var(--font-primary-color);
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(255, 153, 187, 0.3);
  font-weight: 600;
  text-decoration: none;
}

.contact {
  background: #0f1729;
  color: var(--font-secondairy-color);
  border: 1px solid var(--font-secondairy-color);
  box-shadow: none;
}

.navbar {
  border-bottom: 1px solid var(--secondairy-color);
  margin-bottom: 30px;
}

.navbar-brand {
  color: var(--secondairy-color);
}

.navbar-toggler {
  border: 1px solid var(--secondairy-color);
}

.nav-link {
  color: var(--font-primary-color);
}

.line {
  margin: 0 auto;
  border-bottom: 5px solid var(--secondairy-color);
  border-radius: 4px;
  width: 100px;
  text-align: center;
}

.top-container {
  padding: 30px;
  margin: 50px;
  margin-bottom: 300px;
}

.table-boxes {
  border: 1px solid var(--secondairy-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
}

.container-boxes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 300px;
}

.icon {
  background-color: #ffb7c7c0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
  text-align: center;
}

.featured-container {
  text-align: center;
}

.featured-container h2 {
  font-size: 50px;
}
